.img-responsive{
	margin:0;
	width: 100%;
	height: 30%;
	
}
.article{
	margin: 0 auto;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding:80px;
	font-size: 1.3em;
}

.Julie{
	border-radius: 25px;
}

.navbar{
	margin-bottom: 0px;
}

.social-logo{
	text-align: center;

}

body{
	background-color:rgba(0, 0, 0, .75);
	text-align: center;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.pershist{
	margin: 20px 200px;
	font-size: 1.3em;
}

ul{
	margin-bottom: 35px;
	text-align: center;
	list-style: none;
	font-size: 1.3em;
}

.logo_wrapper{
	text-decoration: none;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.logo_wrapper, div a:visited{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 2.5em;
	font-family: 'Great Vibes', cursive;
	width: 15%;
	float: left;
   color:white;
   margin-right:20px;
}

div a:hover{
	text-decoration:none;
	
}

.site-footer{
	text-align:center;
	background-color:rgba(0, 0, 0, .90);
	color: #505E7D;
}