.img-responsive{
	margin:0 auto 0 auto;
	width:100%;
	border-radius:15px;
	position:absolute;
}
.navbar{
	margin-bottom: 0px;
}
body{
	background-color: rgba(0, 0, 0, .5);
}
.tellingtouch{
	font-color:rgba(0, 0, 0, .5);
   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	font-size: 3.75em;
	font-family: 'Great Vibes', cursive;
	width: 25%;
	position: absolute;
}